/* LinkHsu */

.info__left,
.info__right {
    background-color: rgb(61, 143, 209, 0.75);
}

@keyframes moveRight {
    0% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(15%);
        opacity: 0.4;
    }
}

.info__first--weathericon,
.info__second--weathericon,
.info__third--weathericon {
    animation: moveRight 5s linear infinite;
}
