/* hsiuyu */
*{ 
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    color: white;
}
.background{
    background-image: url('/img/sky.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin-left: 250px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.info__frame{
    display: flex;
    margin-top: 30px;
}
.info__left{
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #3D8FD1;
    width: 150px;
    height: 300px;
    padding-top: 10px;
}
.info__left--title{
    font-size: 25px;
    padding-bottom: 10px;
}
.info__left--icon{
    background-color: white;
    border-radius: 500px;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info__right{
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3D8FD1;
    width: 150px;
    height: 300px;
    padding-top: 10px;
}
.info__right--title{
    margin-top: 5px;
}
.info__right--weathericon{
    width: 100px;
    height: 100px;
}
.info__right--icon{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.info__map {
    position: absolute;
    top: 0;
    right: 600px;
    padding: 10px;
    width: 250px;
}
.info__map--img{
    width: 600px;
    height: 750px;
}
.info__remind{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.info__remind--title{
    margin-top: 8px;
    margin-left: 5px;
    color:black;
    font-size: border;
}