/* kvch */
.info__favoriteContainer{
    display: flex;
    align-items: center;
}
.info__delete--favorite{
    background-image: url('../icon/close_icon.png');
    background-size: cover;
    height: 12px;
    width: 12px;
    display: block;
    margin-left: 10px;
    cursor: pointer;

}
.info__location--loader {
    width:45px;
    height:45px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#dedede);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 7px),#000 0);
    animation:s3 1s infinite linear;
    display: none;
    margin: 20px 0px 15px 0px;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}

.info__favoriteCity--text{
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.2em #767272;
} 
/* 


.info__location--loader{
    background-image: url('../icon/close_icon.png');
    background-size: cover;
    height: 45px;
    width: 45px;

}

.info__left--icon::after{
    content: "Loading";
    color: red;
} */