/* LinkHsu */

.info__left,
.info__right {
    background-color: rgba(61, 143, 209, 0.75);
}

@keyframes dayStyle {
    0% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(15%);
        opacity: 0.4;
        filter: contrast(1.5);
    }
}

@keyframes nightStyle {
    0% {
        transform: translateX(-15%);
        filter: brightness(0.5);
        opacity: 0.75;
    }
    100% {
        transform: translateX(15%);
        filter: brightness(0.85);
    }
}
.dayStyle {
    animation: dayStyle 5s linear infinite;
}

.nightStyle {
    animation: nightStyle 5s linear infinite;
}
