/* hsiuyu */
*{ 
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    color: white;
}
.background{
    background-image: url('../img/sky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin-left: 250px;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
}
.info__container {
    display: flex;
    flex-direction: column;
}
.info__frame{
    display: flex;
    margin-top: 30px;
}
.info__left{
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #3D8FD1;
    width: 150px;
    height: 300px;
    padding-top: 30px;
}
.info__left--title{
    font-size: 25px;
    padding-bottom: 7px;
}
.info__left--icon{
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    opacity: 72%;
}
.info__left--icon,
.info__left--icon:hover,
.info__left--icon:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}
.info__left--icon:hover {
    box-shadow: 0 0 1px 8px rgb(61,143,209), 0 0 1px 16px rgba(61, 142, 209, 0.741);
}

.info__right{
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3D8FD1;
    width: 150px;
    height: 300px;
    padding-top: 30px;
}
.info__right--title{
    margin-top: 10px;
}
.info__right--weathericon{
    width: 65px;
    height: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.info__right--icon{
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: 90%;
}
.info__map{
    position: absolute;
    top: 0;
    right: 600px;
    padding: 10px;
    width: 250px;
}
.info__map--img{
    width: 600px;
    height: 750px;
}

@media(max-width:1250px){
    .info{
        margin-left: 50px;
    }
    .background{
        height: 160vh;
    }
    .info__container {
        flex-direction: row;
    }
    .info__frame{
        width: 250px;
        flex-direction: row;
        margin-right: 30px;
    }
    .info__left{
        width: 50%;
        height: 100%;
    }
    .info__right{
        width: 50%;
        height: 100%;
    }
    .info__right--weathericon{
        width: 50px;
        height: 50px;
    }
    .info__map{
        top: 450px;
        right: 450px;
    }
} 

@media(max-width:600px){
    .info{
        padding-top: 0px;
    }
    .background{
        height: 200vh;
        width: 100%;
    }
    .info__container {
        flex-direction: column;
    }
    .info__frame{
        margin-top: 20px;
        width: 100%;
    }
    .info__left{
        padding-bottom: 20px;
    }
    .info__left--icon{
        margin-top: 15px;
        margin-bottom: 13.2px;
    }
    .info__right{
        padding-bottom: 20px;
    }
    .info__left--title{
        margin-top: 7px;
        font-size: 20px;
    }
    .info__map{
        top: 640px;
        right: 190px;
        width: 250px;
    }
    .info__map--img{
        width: 400px;
        height: 550px;
    }
}