/* Neal */
path,
#position {
  transition: all .3s ease-in-out;
}

/* .hidden {
  display: none;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.infor__frame--animation {
  animation: fadeIn 1s;
}